.advantages {
  overflow: hidden;
}

.advantages__intro {
  padding-top: 45px;
  padding-bottom: 35px;

  font-size: 24px;
  font-weight: 100;
  text-align: center;
  line-height: 30px;

  p {
    margin: 0;
    margin-bottom: 35px;
  }
}

.advantages__wrapper {
  background-color: #f2f2f2;

  @include diagonal(35px, 'f2f2f2');
}

.advantages__list {
  @include reset-list;

  padding-top: 50px;
  padding-bottom: 280px;

  background-image: url(../img/advantages/iphone-screen3.png);
  @include retina {
    background-image: url(../img/advantages/iphone-screen3@x2.png);
  }
  background-size: 157px 320px;
  background-position: center calc(100% + 43px);
  background-repeat: no-repeat;
}

.webp .advantages__list {
  background-image: url(../img/advantages/iphone-screen3.webp);
  @include retina {
    background-image: url(../img/advantages/iphone-screen3@x2.webp);
  }
}

.advantages__item {
  text-align: center;
  margin-bottom: 35px;
}

.advantages__title {
  margin: 0;

  font-size: 18px;
}

.advantages__description {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .advantages__intro {
    padding-bottom: 100px;

    font-size: 40px;
    line-height: normal;

    p {
      margin: 0px;
    }
  }

  .advantages__wrapper {
    border-top: 1px solid transparent;

    &::before {
      top: -50px;
      height: 50px;
    }
  }

  .advantages__list {
    position: relative;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 300px;

    background-image: none;

    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: 0;

      @include size(268px, 547px);
      background-image: url(../img/advantages/iphone-screen3@x2.png);
      background-position: left top;

      background-size: cover;
    }
  }

  .webp .advantages__list {
    background-image: none;
  }

  .webp .advantages__list::before {
    background-image: url(../img/advantages/iphone-screen3@x2.webp);
  }

  .advantages__item {
    text-align: left;
  }

  .advantages__description {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__intro {
    padding-top: 50px;
    padding-bottom: 170px;

    font-size: 50px;

    p {
      margin: 0px;
    }
  }

  .advantages__wrapper {
    &::before {
      top: -90px;
      height: 90px;
    }
  }

  .advantages__list {
    display: flex;
    justify-content: space-around;

    padding-left: 0;

    &::before {
      display: none;
    }
  }

  .advantages__item {
    position: relative;

    margin: 0;
    padding-top: 230px;
    width: calc(100% - 120px);

    text-align: center;

    &:not(:last-child) {
      margin-right: 60px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -120px;
      left: 50%;
      transform: translateX(-50%);

      @include size(221px, 301px);

      background-image:
        url(../img/iphone.png),
        url(../img/advantages/adv-border.png);
      @include retina {
        background-image:
        url(../img/iphone@x2.png),
        url(../img/advantages/adv-border.png);
      }
      background-repeat: no-repeat;
      background-size:
        186px 382px,
        120% auto;
      background-position:
        center top,
        center calc(100% + 7px);
    }

    &::after {
      content: "";
      position: absolute;

      @include size(165px, 256px);
      top: -75px;
      left: 50%;
      transform: translateX(-50%);

      background-size: cover;
      background-position: top center;
    }

    &--mood::after {
      background-image: url(../img/advantages/adv-screen-1.png);
      @include retina {
        background-image: url(../img/advantages/adv-screen-1@x2.png);
      }
    }

    &--change::after {
      background-image: url(../img/advantages/adv-screen-2.png);
      @include retina {
        background-image: url(../img/advantages/adv-screen-2@x2.png);
      }
    }

    &--friends::after {
      background-image: url(../img/advantages/adv-screen-3.png);
      @include retina {
        background-image: url(../img/advantages/adv-screen-3@x2.png);
      }
    }
  }

  .webp .advantages__item {
    &::before {
      background-image:
        url(../img/iphone.webp),
        url(../img/advantages/adv-border.webp);
      @include retina {
        background-image:
          url(../img/iphone@x2.webp),
          url(../img/advantages/adv-border.webp);
      }
    }
    &--mood::after {
      background-image: url(../img/advantages/adv-screen-1.webp);
      @include retina {
        background-image: url(../img/advantages/adv-screen-1@x2.webp);
      }
    }

    &--change::after {
      background-image: url(../img/advantages/adv-screen-2.webp);
      @include retina {
        background-image: url(../img/advantages/adv-screen-2@x2.webp);
      }
    }

    &--friends::after {
      background-image: url(../img/advantages/adv-screen-3.webp);
      @include retina {
        background-image: url(../img/advantages/adv-screen-3@x2.webp);
      }
    }
  }

  .advantages__title {
    padding: 0;
    margin-bottom: 25px;

    font-size: 30px;
  }
}
