.app-stores {
  // Не требуется
}

.app-stores__links {
  @include reset-list;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.app-stores__link {
  display: block;

  width: 40px;
  height: 40px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center;

  transition: 0.2s;

  will-change: transform;

  &:hover {
    transform: scale(1.1);
  }

  &--ios {
    @include size(47px, 56px);
    margin-right: 34px;

    background-image: url(../img/svg/ios-logo.svg);
  }

  &--android {
    @include size(43px, 47px);
    margin-right: 37px;

    background-image: url(../img/svg/android-logo.svg);
  }

  &--windows {
    @include size(44px, 41px);

    background-image: url(../img/svg/windows-logo.svg);
  }
}

.app-stores__text {
  margin: 0;
  // padding: 0 25px;

  font-weight: 100;
  text-align: center;
}

@media (min-width: $desktop-width) {
  .app-stores__text {
    padding: 0;
  }
}