.competition {
  padding-top: 45px
}

.competition__intro {
  margin: 0;
  margin-bottom: 40px;

  text-align: center;
  line-height: 30px;
}

.competition__intro-offer {
  display: none;
}

.competition__form {
  // Не требуется
}

.competition__form-wrapper {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .competition {
    padding-top: 95px;
  }

  .competition__form-wrapper {
    padding: 0 20px;
  }

  .competition__intro {
    margin-bottom: 75px;
    padding: 0 60px;

    font-size: 18px;
  }

  .competition__intro-offer {
    display: inline;
  }
}

// @media (min-width: $desktop-width) {
//   .competition__intro {
//     width: 760px;
//   }
// }