.competition-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

// Обёртки для групп полей
.competition-form__fieldset-wrapper {
  padding-top: 40px;
  margin-bottom: 40px;

  background-color: #f2f2f2;
}

.competition-form__fieldset-wrapper--version {
  order: 1;
}

// Группы полей
.competition-form__fieldset {
  margin: 0;
  margin-bottom: 44px;
  padding: 0 20px;
  border: none;

  legend {
    padding: 0 20px;

    color: $cl-pink;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  }
}

.competition-form__fieldset--passport {
  margin-bottom: 44px;
}

.competition-form__fieldset--version,
.competition-form__fieldset--achievements {
  padding-top: 35px;
}

.competition-form__fieldset--contacts legend {
  display: none;
}

.competition-form__fieldset--emotions {
  order: 5;
  padding-top: 15px;
  margin-bottom: 50px;
}

// Подвал формы
.competition-form__footer {
  order: 6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 20px;

  text-align: center;
}

// Обёртки для инпутов
.competition-form__text-input-wrapper {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  label {
    padding-left: 20px;
    padding-bottom: 5px;

    color: $cl-pink;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.competition-form__contact-icon {
  display: none;
}

.competition-form__list {
  @include reset-list;
}

.competition-form__list--version {
  li:not(:last-child) {
    margin-bottom: 36px;
  }
}

.competition-form__list--achievements {
  li:not(:last-child) {
    margin-bottom: 43px;
  }
}

// Инпуты
.competition-form__text-input {
  padding: 16px 20px;
  width: 100%;

  color: inherit;
  font-size: 18px;

  border: 2px solid $cl-gray;

  &:not(:disabled):not(:focus):hover {
    border-color: $cl-blue;
  }

  &:focus {
    border-color: $cl-pink;
    outline: none;
  }

  &::placeholder {
    color: inherit;
  }

  &:disabled {
    background-color: $cl-gray;
    color: rgba(#000, 0.3);
  }
}

._invalid .competition-form__text-input:invalid {
  background-color: rgba($cl-pink, 0.1);
}

.competition-form__textarea {
  resize: vertical;

  height: 200px;
}

.competition-form__input-box {
  @include visually-hidden;

  & + label {
    position: relative;

    display: block;
    padding-left: 70px;

    font-size: 18px;
    line-height: 36px;

    cursor: pointer;
  }

  & + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    @include size(36px);

    background-color: #fff;
    border: 2px solid $cl-gray;
  }

  &:not(:disabled):hover + label::before {
    border-color: $cl-blue;
  }

  &:focus + label::before {
    border-color: rgba($cl-blue, 0.6);
  }

  &:not(:disabled) + label:active::before {
    border-color: $cl-pink;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
  }

  &:disabled + label {
    color: rgba(#000, 0.3);

    cursor: auto;
  }

  &:disabled + label::before {
    background-color: $cl-gray;
  }

  &:disabled:checked + label::after {
    opacity: 0.3;
  }
}

.competition-form__input-box--radio {
  & + label::before {
    border-radius: 50%;
  }

  &:checked + label::after {
    top: 11px;
    left: 11px;

    @include size(14px);

    background-color: $cl-pink;
    border-radius: 50%;
  }
}

.competition-form__input-box--checkbox {
  & + label::before {
    border-radius: 4px;
  }

  &:checked + label::after {
    top: 10px;
    left: 8px;

    @include size(22px, 16px);

    background-image: url("../img/svg/checkbox.svg");
  }
}

// Элементы подвала формы
.competition-form__submit-btn {
  margin-bottom: 35px;
}

.competition-form__require-hint {
  font-size: 14px;
  text-transform: uppercase;

  b {
    color: $cl-pink;
  }
}

@media (min-width: $tablet-width) {
  .competition-form {
    padding-bottom: 50px;
  }

  // Обёртки для групп полей
  .competition-form__fieldset-wrapper {
    padding: 0;
    margin-bottom: 0;

    background-color: transparent;
  }

  .competition-form__fieldset-wrapper--version {
    order: 0;
  }

  .competition-form__fieldset-wrapper--achievements {
    order: 4;
  }

  // Группы полей
  .competition-form__fieldset {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 55px;
  }

  .competition-form__fieldset--bordered {
    padding-left: 60px;
    padding-right: 60px;

    border: 2px solid $cl-gray;
  }

  .competition-form__fieldset--version {
    padding-bottom: 55px;
  }

  .competition-form__fieldset--contacts {
    padding-top: 35px;
    padding-bottom: 30px;

    legend {
      display: block;
    }
  }

  .competition-form__fieldset--emotions {
    padding-top: 35px;
    padding-bottom: 50px;
    margin-bottom: 70px;
  }

  // Обёртки для инпутов

  .competition-form__text-input-wrapper--passport {
    flex-direction: row;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 55px;
    }

    label {
      margin-right: 15px;
      padding-left: 0;
    }
  }

  .competition-form__text-input-wrapper--contacts {
    flex-direction: column-reverse;

    label {
      padding-top: 15px;
    }
  }

  .competition-form__contact-input-wrapper {
    position: relative;

    input {
      padding-right: 58px + 15px;
    }
  }

  .competition-form__contact-icon {
    position: absolute;
    top: 2px;
    right: 2px;

    display: block;

    @include size(58px, 56px);

    background-color: $cl-gray;
    fill: $cl-pink;

    pointer-events: none;
  }

  .competition-form__contact-icon--phone {
    padding: 17px;
  }

  .competition-form__contact-icon--mail {
    padding: 20px;
  }

  .competition-form__list--achievements {
    padding-bottom: 45px;
  }

  .competition-form__textarea {
    height: 189px;
  }

  // Подвал формы
  .competition-form__footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .competition-form__submit-btn {
    margin: 0;
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    padding-bottom: 0;
  }

  .competition-form__fieldset-wrapper,
  .competition-form__fieldset,
  .competition-form__footer {
    width: 100%;
  }

  .competition-form__fieldset-wrapper--version {
    display: flex;
    width: 50%;
    padding-left: 30px;
  }

  .competition-form__fieldset-wrapper--achievements {
    order: 1;
  }

  .competition-form__fieldset--passport {
    width: 50%;
    padding-top: 30px;
    padding-right: 30px;
  }

  .competition-form__fieldset--version {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    legend {
      position: absolute;
      top: -0.7em;
      left: 50%;
      transform: translateX(-50%);

      width: 372px;
      padding: 0 20px;

      background-color: #fff;
    }
  }

  .competition-form__fieldset--contacts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .competition-form__list {
    padding: 20px 0;
  }

  .competition-form__list--achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;

    li {
      width: 260px;
    }
  }

  .competition-form__input-box + label {
    padding-left: 50px;
  }

  .competition-form__text-input-wrapper--contacts {
    flex-grow: 1;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 60px;
    }
  }

  .competition-form__textarea {
    height: 124px;
  }
}
