.hand-slider {
  width: 256px;
  height: 286px;
}

.hand-slider__background {
  position: absolute;
  top: 0;
  left: 0;

  @include size(100%);

  background-image: url(../img/hand-mobile.png);
  @include retina() {
    background-image: url(../img/hand-mobile@x2.png);
  }
  background-repeat: no-repeat;

  z-index: 1;
  pointer-events: none;
}

.webp .hand-slider__background {
  background-image: url(../img/hand-mobile.webp);
  @include retina() {
    background-image: url(../img/hand-mobile@x2.webp);
  }
}

.hand-slider__screen-wrapper {
  position: absolute;
  left: 104px;
  top: 33px;

  @include size(111px, 197px);
  margin: 0 !important; // Swiper.js conflict

  background: rgba($cl-pink, 0.9);
}

.hand-slider__screen {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;

  &-1 {
    background-image: url(../img/screens/mobile-screen-1.jpg);
    @include retina {
      background-image: url(../img/screens/desktop-screen-1@x2.jpg);
    }
  }
  &-2 {
    background-image: url(../img/screens/mobile-screen-2.jpg);
    @include retina {
      background-image: url(../img/screens/desktop-screen-2@x2.jpg);
    }
  }
  &-3 {
    background-image: url(../img/screens/mobile-screen-3.jpg);
    @include retina {
      background-image: url(../img/screens/desktop-screen-3@x2.jpg);
    }
  }
}

.webp .hand-slider__screen {
  &-1 {
    background-image: url(../img/screens/mobile-screen-1.webp);
    @include retina {
      background-image: url(../img/screens/desktop-screen-1@x2.webp);
    }
  }
  &-2 {
    background-image: url(../img/screens/mobile-screen-2.webp);
    @include retina {
      background-image: url(../img/screens/desktop-screen-2@x2.webp);
    }
  }
  &-3 {
    background-image: url(../img/screens/mobile-screen-3.webp);
    @include retina {
      background-image: url(../img/screens/desktop-screen-3@x2.webp);
    }
  }
}

@media (min-width: $tablet-width) {
  .hand-slider {
    width: 660px;
    height: 545px;
  }

  .hand-slider__background {
    background-image: url(../img/hand-tablet.png);
    @include retina() {
      background-image: url(../img/hand-tablet@x2.png);
    }
  }

  .webp .hand-slider__background {
    background-image: url(../img/hand-tablet.webp);
    @include retina() {
      background-image: url(../img/hand-tablet@x2.webp);
    }
  }

  .hand-slider__screen-wrapper {
    top: 53px;
    left: 370px;

    @include size(195px, 346px);
  }

  .hand-slider__screen {
    &-1 {
      background-image: url(../img/screens/desktop-screen-1.jpg);
      @include retina {
        background-image: url(../img/screens/desktop-screen-1@x2.jpg);
      }
    }
    &-2 {
      background-image: url(../img/screens/desktop-screen-2.jpg);
      @include retina {
        background-image: url(../img/screens/desktop-screen-2@x2.jpg);
      }
    }
    &-3 {
      background-image: url(../img/screens/desktop-screen-3.jpg);
      @include retina {
        background-image: url(../img/screens/desktop-screen-3@x2.jpg);
      }
    }
  }

  .webp .hand-slider__screen {
    &-1 {
      background-image: url(../img/screens/desktop-screen-1.webp);
      @include retina {
        background-image: url(../img/screens/desktop-screen-1@x2.webp);
      }
    }
    &-2 {
      background-image: url(../img/screens/desktop-screen-2.webp);
      @include retina {
        background-image: url(../img/screens/desktop-screen-2@x2.webp);
      }
    }
    &-3 {
      background-image: url(../img/screens/desktop-screen-3.webp);
      @include retina {
        background-image: url(../img/screens/desktop-screen-3@x2.webp);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .hand-slider {
    width: 1050px;
    height: 645px;
  }

  .hand-slider__background {
    background-image: url(../img/hand-desktop.png);
    @include retina() {
      background-image: url(../img/hand-desktop@x2.png);
    }
  }

  .webp .hand-slider__background {
    background-image: url(../img/hand-desktop.webp);
    @include retina() {
      background-image: url(../img/hand-desktop@x2.webp);
    }
  }


  .hand-slider__screen-wrapper {
    top: 64px;
    left: 570px;

    @include size(230px, 408px);
  }
}
