.hand-slider {
  width: 256px;
  height: 286px;
}

.hand-slider__background {
  position: absolute;
  top: 0;
  left: 0;

  @include size(100%);

  background-repeat: no-repeat;
  background-size: 320px 314px;

  z-index: 1;
  pointer-events: none;
}

@include css-background(".hand-slider__background", "../img/hand-mobile", "png");

.hand-slider__screen-wrapper {
  position: absolute;
  left: 104px;
  top: 33px;

  @include size(111px, 197px);

  background: rgba($cl-pink, 0.9);
}

.hand-slider__screen {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
}

@for $i from 1 through 3 {
  @include css-background(".hand-slider__screen-#{$i}", "../img/screens/mobile-screen-#{$i}", "jpg");
}

@media (min-width: $tablet-width) {
  .hand-slider {
    width: 660px;
    height: 545px;
  }

  .hand-slider__background {
    background-size: contain;
  }

  @include css-background(".hand-slider__background", "../img/hand-tablet", "png");

  .hand-slider__screen-wrapper {
    top: 53px;
    left: 370px;

    @include size(195px, 346px);
  }

  @for $i from 1 through 3 {
    @include css-background(".hand-slider__screen-#{$i}", "../img/screens/desktop-screen-#{$i}", "jpg");
  }
}

@media (min-width: $desktop-width) {
  .hand-slider {
    width: 1050px;
    height: 645px;
  }

  @include css-background(".hand-slider__background", "../img/hand-desktop", "png");

  .hand-slider__screen-wrapper {
    top: 64px;
    left: 570px;

    @include size(230px, 408px);
  }
}
