.map {
  // Не требуется
}

.map__wrapper {
  position: relative;

  padding: 0;
  margin: 0;
  // z-index: 1;
}

.map__image {
  width: 100%;
}

.map__interactive {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(#000, 0.7);

  transition: 0.2s;

  cursor: pointer;

  &:hover {
    background-color: rgba(#000, 0.3);
  }

  p {
    margin-top: 50px;

    color: #fff;
  }
}

.map__interactive--init {
  cursor: unset;
  background-color: transparent;

  p {
    display: none;
  }

  &:hover {
    background-color: transparent;
  }
}