.page-footer {
  padding: 40px 0;
}

.page-footer--index-page {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  @include size(146px, 40px);

  margin-bottom: 40px;
}

.page-footer__social {
  margin-bottom: 40px;
}

.footer__copyright {
  display: flex;
  align-items: center;

  color: $cl-blue;
  text-decoration: none;

  span {
    margin-right: 15px;
  }

  svg {
    fill: $cl-pink;
    
    transition: 0.2s;
  }

  &:hover {
    color: $cl-blue;

    svg {
      fill: $cl-blue;
    }
  }

  &:active {
    color: $cl-blue;

    svg {
      fill: rgba($cl-blue, 0.3);
    }
  }
}


@media (min-width: $tablet-width) {
  .page-footer {
    padding: 36px 0;
  }

  .page-footer--index-page {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo,
  .page-footer__social {
    margin-bottom: 0;
  }

  .page-footer__logo {
    align-self: flex-start;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 75px 0;
  }
}