.page-header {
  background-color: $cl-blue;

  color: #fff;
}

.page-header__background {
  position: relative;

  height: 462px;

  background-image: url(../img/bg/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__hand {
  position: absolute;
  bottom: 0;
  left: 42%;
  transform: translateX(-50%);
}

.page-header__slogan {
  display: none;
}

.page-header__download {
  position: relative;
  padding-top: 28px;

  z-index: 1;
}

.page-header__download-btn {
  margin-bottom: 32px;
}

.page-header__stores {
  padding-bottom: 35px;
}

.page-header--inner {
  min-height: 237px;
  padding-top: 86px;
  padding-bottom: 20px;

  background-image: url(../img/bg/bg-inner-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header__inner-page-title {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  line-height: 1.3em;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;

    min-height: 729px;
  }

  .page-header__background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url(../img/bg/bg-tablet.jpg);
  }

  .page-header__hand {
    transform: unset;
    left: unset;
    right: 0px;
  }

  .page-header__content-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 123px;

    pointer-events: none;
  }

  .page-header__content {
    width: 310px;

    pointer-events: visible;
  }

  .page-header__slogan {
    display: block;
    margin: 0;
    margin-bottom: 29px;

    font-size: 40px;
    font-weight: 100;
    line-height: initial;
    text-align: center;
  }

  .page-header__download {
    padding-top: 0px;
  }

  .page-header--inner {
    min-height: 440px;
    height: auto;
    padding-top: 140px;
    padding-bottom: 100px;
  
    background-image: url(../img/bg/bg-inner-tablet.jpg);
  }
  
  .page-header__inner-page-title {
    font-size: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 853px;
  }

  .page-header__content-wrapper {
    padding-top: 200px;
    padding-bottom: 70px;
  }

  .page-header__background {
    background-image: url(../img/bg/bg-desktop.jpg);
  }

  .page-header__slogan {
    margin-bottom: 55px;

    font-size: 50px;
    line-height: 1.2em;
  }

  .page-header--inner {
    min-height: 395px;
    padding-top: 180px;
    padding-bottom: 110px;
  
    background-image: url(../img/bg/bg-inner-desktop.jpg);
  }
  
  .page-header__inner-page-title {
    font-size: 50px;
  }

  .page-header__download-btn {
    margin-bottom: 62px;
  }
}