.page-footer {
  padding: 40px 0;
}

.page-footer--index-page {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__logo path {
  transition: 0.1s;
}

.page-footer__logo[href]:hover .cls-1 {
  fill: $cl-pink;
}

.page-footer__logo[href]:active .cls-1 {
  fill: $cl-blue;
}

.page-footer__logo[href]:active path {
  opacity: 0.3;
}

.page-footer__logo svg {
  display: block;
  @include size(146px, 40px);
}

.page-footer__logo-desktop {
  display: none;
}

.page-footer__social {
  margin-bottom: 40px;
}

.footer__copyright {
  display: flex;
  align-items: center;

  color: $cl-blue;
  text-decoration: none;

  span {
    margin-right: 15px;
  }

  svg {
    fill: $cl-pink;

    transition: 0.2s;
  }

  &:hover {
    color: $cl-blue;

    svg {
      fill: $cl-blue;
    }
  }

  &:active {
    color: $cl-blue;

    svg {
      fill: rgba($cl-blue, 0.3);
    }
  }
}


@media (min-width: $tablet-width) {
  .page-footer {
    padding: 36px 0;
  }

  .page-footer--index-page {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-footer__logo,
  .page-footer__social {
    margin-bottom: 0;
  }

  .page-footer__social {
    max-width: 200px;
  }

  .footer__copyright {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 75px 0;
  }

  .page-footer__logo-tablet {
    display: none;
  }

  .page-footer__logo-desktop {
    display: block;
  }
}
