.photo {
  display: flex;
  flex-direction: column;

  img {
    display: block;
  }
}

.photo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 180px;

  background-color: $cl-blue;
}

.photo--panorama .photo__link {
  height: 137px;
}

.photo__link--label {
  position: relative;

  &::after {
    content: attr(data-label);
    position: absolute;
    right: 20px;
    top: 0;

    padding: 6px 20px;

    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: $cl-pink;
  }
}

.photo__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
  margin: 0;

  font-size: 14px;

  background-color: #f2f2f2;
}

.photo__content--panorama {
  margin: 0 20px;
}

.photo__author {
  margin: 0;
}

.photo__author-name {
  font-weight: bold;
}

.photo__date {
  font-family: "MyriadPro", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.photo__text {
  margin: 0;
  margin-bottom: 10px;
}

.photo__likes {
  display: flex;

  margin-top: auto;

  font-size: 12px;
  text-transform: uppercase;
}

.photo__like-btn {
  padding: 0;
  margin-right: 15px;

  border: none;
  background: none;

  svg {
    position: relative;
    top: 1px;

    fill: $cl-pink;
  }
}

.photo__likes-count {
  color: $cl-pink;
}

@media (min-width: $tablet-width) {
  .photo__link {
    height: 300px;
  }
  
  .photo--panorama .photo__link {
    height: 509px;
  }

  .photo__link--label::after {
    top: 57px;
  }

  .photo__content {
    padding: 25px;
    min-height: 155px;
  }

  .photo__content--panorama {
    position: relative;
    min-height: 121px;

    .photo__likes {
      position: absolute;
      right: 30px;
    }

    .photo__likes-count {
      margin-right: 15px;
    }
  }

  .photo__likes {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .photo__like-btn {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo__link {
    height: 400px;
  }
  
  .photo--panorama .photo__link {
    height: 506px;
  }

  .photo__link--label::after {
    right: 130px;
    top: 54px;
  }

  .photo__content--panorama {
    margin: 0 120px;
  }
}