.post {
  // Не требуется
}
.post__intro {
  margin: 0;
  padding: 20px 0 40px;

  text-align: center;
  line-height: 30px;
}

.post__form {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .post__intro {
    padding: 40px 0 60px;

    font-size: 18px;
  }
}