.reviews {
  padding-top: 43px;
  padding-bottom: 80px;
}

.reviews__slider {
  // Не требуется
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 54px;
    padding-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 72px;
    padding-bottom: 83px;
  }
}
