.social {
  display: flex;
  flex-wrap: wrap;

  font-size: 0;
}

.social__ico {
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(52px);
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;

  background-color: #fff;
  border: 3px solid $cl-gray;
  border-radius: 50%;

  transition: 0.2s;

  &:hover {
    border-color: $cl-blue;
  }

  &:active {
    opacity: 0.3;
  }

  svg {
    fill: $cl-pink;
  }

  &--youtube {
    svg {
      position: relative;
      left: 2px;
    }
  }
}
