.tariffs {
  @include diagonal(35px, "f2f2f2");

  padding-top: 66px;
  padding-bottom: 45px;

  background-color: #f2f2f2;
}

.tariffs__wrapper {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .tariffs {
    padding-top: 36px;
    padding-bottom: 70px;

    &::before {
      top: -50px;
      height: 50px;
    }
  }

  .tariffs__wrapper {
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    padding-top: 65px;
    padding-bottom: 90px;

    &::before {
      top: -90px;
      height: 90px;
    }
  }

  .tariffs__wrapper {
    padding: 0 10px;
  }
}
