*,
*::before,
*::after {
	box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

body {
	color: $cl-blue;
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
}

section {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	// Под вопросом, нужно ли
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $cl-pink;

	&:hover {
		color: $cl-blue;
	}

	&:active {
		color: rgba($cl-blue, 0.3);
	}
}

.wrapper {
	margin: 0 auto;
	padding: 0 20px;
}

.btn-round {
	display: block;
	padding: 18px 22px;

	color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	border: 3px solid #fff;
	border-radius: 36px;
	background: none;

	transition: 0.1s;

	user-select: none;

	&:hover,
	&:active {
		color: $cl-pink;

		background-color: #fff;
	}

	&:active {
		color: rgba($cl-pink, 0.3);
	}

	&--pink {
		color: $cl-pink;

		border-color: $cl-pink;

		&:hover,
		&:active {
			color: #fff;

			background-color: $cl-pink;
		}

		&:active {
			color: rgba(#fff, 0.3);
		}
	}

	&--gray {
		color: rgba($cl-blue, 0.1);

		border-color: rgba($cl-blue, 0.1);

		&:hover,
		&:active {
			color: rgba($cl-blue, 0.3);

			border-color: rgba($cl-blue, 0.3);
			background-color: transparent;
		}

		&:active {
			color: rgba(#fff, 0.3);

			background-color: rgba($cl-blue, 0.3);
		}
	}
}

.btn-square {
	padding: 20px;

	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;

	background-color: $cl-green;
	border: none;

	user-select: none;

	&:hover {
		background-color: $cl-darkgreen;
	}

	&:active {
		color: rgba(#fff, 0.3);
	}

	&:disabled {
		background-color: $cl-gray;
	}
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(100%, 12px);
}

.pagination__bullet {
  @include size(6px);

  padding: 0;

  border: 3px solid rgba($cl-blue, 0.3);
  margin: 0 10px;
  border-radius: 50%;

  transition: 0.2s;
  cursor: pointer;

	&:hover {
		border-color: rgba($cl-blue, 0.6);
	}

	&:active {
		border-color: rgba($cl-blue, 0.1);
	}

  &--active {
    @include size(12px);
    border-color: $cl-blue;

    margin: 0 7px;

		&:hover,
		&:active {
			border-color: $cl-blue;
		}
  }
}

@media (min-width: $desktop-width) {
	body {
		font-size: 18px;
		line-height: 30px;
	}

	.wrapper {
		padding: 0 10px;
		max-width: $desktop-width;
	}
}
