</main>

@@if (innerPage === "true") {
  <footer class="page-footer">
}
@@if (innerPage === "false") {
  <footer class="page-footer page-footer--index-page">
}
  <div class="page-footer__wrapper wrapper">
    @@if (innerPage === "true") {
      <a href="index.html" class="page-footer__logo">
    }
    @@if (innerPage === "false") {
      <a class="page-footer__logo">
    }
      @@include("_logo-footer.html")
    </a>
    <article class="page-footer__social social">
      <a href="#" class="social__ico">
        <span>Twitter</span>
        <svg width="18" height="14">
          <use xlink:href="img/sprite.svg#svg--ico-twitter"></use>
        </svg>
      </a>
      <a href="#" class="social__ico">
        <span>Facebook</span>
        <svg width="9" height="18">
          <use xlink:href="img/sprite.svg#svg--ico-facebook"></use>
        </svg>
      </a>
      <a href="#" class="social__ico social__ico--youtube">
        <span>Youtube</span>
        <svg width="15" height="13">
          <use xlink:href="img/sprite.svg#svg--ico-youtube"></use>
        </svg>
      </a>
    </article>
    <a href="https://htmlacademy.ru/intensive/adaptive" class="footer__copyright">
      <span>Разработано</span>
      <svg class="footer__copyright" width="27" height="34">
        <use xlink:href="img/sprite.svg#svg--ico-html-logo"></use>
      </svg>
    </a>
  </div>
</footer>

<script src="js/script.min.js"></script>

</body>
</html>
